<template>
  <div class="footerComp container">
    <div class="columns footer--top">
      <div class="column is-one-third is-hidden-mobile">
        <div class="footerComp--title">Testimonies</div>
        <!-- <ul>
          <li
            v-for="resource in getResourceList"
            :key="resource.id"
          >
            <nuxt-link :to="'/resources/'+resource.id">
              {{ resource.short_title }}
            </nuxt-link>
          </li>
        </ul> -->
      </div>
      <div class="column is-hidden-mobile">
        <div class="footerComp--title">Design Areas</div>
        <ul>
          <li>one</li>
          <li>two</li>
          <li>three</li>
        </ul>
      </div>
      <div class="column is-hidden-mobile">
        <div class="footerComp--title">Useful Links</div>
        <ul>
          <li>
            <nuxt-link to="/"> Home </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/portfolio"> Portfolio </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/contactus"> Contact </nuxt-link>
          </li>
        </ul>
      </div>
      <div class="column">
        <div class="footerComp--title">Social Media Links</div>
        <ul class="footerComp--socialicons">
          <li>
            <a href="https://www.instagram.com/folabrand/" target="_blank">
              <img src="/img/linkedin.png" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/folabrand/" target="_blank">
              <img src="/img/twitter.png" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/folabrand/" target="_blank">
              <img src="/img/youtube.png" />
            </a>
          </li>
        </ul>
        <div class="footerComp--logo">
          <img src="/img/logo.png" />
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>
        FOLABRAND © 2018 - All rights reserved <br />
        Layout courtesy of Promise Anyadike
      </p>
    </div>
    <div class="orbsol">
      <a href="http://orbsolutions.com.ng/" target="_blank">
        Powered by Promise Anyadike
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "LayoutFooter",
};
</script>

<style>
.footerComp {
  padding: 15px;
}

.orbsol {
  border-top: 1px solid whitesmoke;
  text-align: center;
}
.orbsol a {
  text-decoration: none;
  color: grey;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}

.footer--top {
  border-top: 1px solid #ccc;
  padding: 15px;
}

.copyright {
  text-align: center;
  font-size: 14px;
}
.copyright p {
  margin-bottom: 11px;
}

.footerComp--title {
  font-family: Oxygen;
  font-weight: 600;
  padding-bottom: 18px;
  text-transform: uppercase;
}

.footerComp--logo {
  padding-top: 90px;
}

.footerComp--socialicons {
  display: flex;
  justify-content: left;
}

.socialicons li {
  margin: 0 3px;
}

ul {
  font-size: 14px;
  line-height: 28px;
}

ul a {
  color: #303030;
}
</style>
