<template>
  <div class="hero_container">
    <b-carousel :pause-hover="!pauseHover">
      <b-carousel-item v-for="(item, i) in carousel" :key="i">
        <section
          class="hero is-large"
          id="slider"
          :style="{
            'background-image': `linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(${item.img_url}`,
          }"
        >
          <div class="hero-head">
            <!-- <layout-header /> -->
            <navbar-menu />
          </div>
          <div class="hero-body">
            <div class="container has-text-centered">
              <p
                v-html="item.title.replace(/<[^>]*>?/gm, '')"
                :style="item.color"
                class="title"
              ></p>
              <p
                v-html="item.subtitle.replace(/<[^>]*>?/gm, '')"
                :style="item.color"
              ></p>
              <!-- <div v-for="( herosubtitle, i) in param.header.header_contents" :key="i" type="list">
                <h2 class="subtitle" v-html="herosubtitle"></h2>
              </div>-->
            </div>
          </div>
        </section>
      </b-carousel-item>
    </b-carousel>
  </div>
</template>

<script>
// import LayoutHeader from "@/components/header";
import NavbarMenu from "@/components/NavbarMenu.vue";

export default {
  components: {
    // LayoutHeader,
    NavbarMenu,
  },
  methods: {
    getImgUrl() {
      return this.carousel;
    },
  },
  data() {
    return {
      pauseHover: true,

      carousel: [
        {
          title: "Welcome to FolaBrand",
          subtitle:
            "Long-term verticals are becoming corporate best practice experts. In the future, will you be able to effectively transform low hanging fruit in your business? Key players will take ownership of their ballpark figures by ethically incentivizing best-of-breed team players. We aim to reliably revolutionize our bandwidth by strategically investing our customer-focused competitive clouds.",
          img_url: "/img/bak3.jpg",
          color: "color:yellow",
        },
        {
          title: "Awesome Graphics design",

          subtitle:
            "It's critical that we give 110% when conservatively integrating siloes. Our deliverable development lifecycle enables wholesale, mobile step-changes. Seamless standpoints are becoming senior prince2 practitioner experts. In the future, will you be able to globally relay user experiences in your business?",
          img_url: "/img/bak1.jpg",
          color: "color:white",
        },
        {
          title: "The highest standard ever",

          subtitle:
            "Virtually touching base about connecting organic growths will make us leaders in the best-in-class synergy industry. Going forward, our company-wide enterprise will deliver value to big datas. Key players will take ownership of their diversities by dynamically strategizing holistic enterprises. In the future, will you be able to intelligently monetize agile workflows in your business?",
          img_url: "/img/bak4.jpg",
          color: "color:dodgerblue",
        },
      ],
    };
  },
};
</script>

<style>
.is-large {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-height: 100%;
}

/* .container .subtitle {
  font-size: 1.25rem;
  padding: 0.275rem 0;
} */
/* .hero-body .container.has-text-centered .title {
  font-size: 28;
  text-shadow: 1px 0px 4px; 
  text-transform: capitalize;
  width: 100%;
  font-family: Oxygen;
  font-weight: bolder;
  color: white !important;
} */
/* li {
  padding: 0.5rem 0;
  color: white;
} */
/* .subtitle {
  color: white;
} */
.is-active .al img {
  filter: grayscale(0%);
}
.al img {
  filter: grayscale(100%);
}

.subtitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.8rem;
  background: transparent;
}
</style>