<template>
  <div class="default">
    <div
      class="defaultLayout"
      :style="{
        'background-image': `linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(/img/pattern.png)`,
      }"
    >
      <navbar-menu />
      <div class="nomineeLayout_body">
        <nuxt />
      </div>
    </div>
    <layout-footer style="background-color: white" />
  </div>
</template>

<script>
import LayoutFooter from "@/components/LayoutFooter";
// import LayoutHero from "@/components/LayoutHero.vue";
import NavbarMenu from "../components/NavbarMenu.vue";

export default {
  components: {
    LayoutFooter,
    NavbarMenu,
  },
};
</script>
<style>
</style>
