<template>
  <div class="defaultLayout">
    <layout-hero />
    <div class="nomineeLayout_body">
      <nuxt />
    </div>
    <layout-footer />
  </div>
</template>

<script>
import LayoutFooter from "@/components/LayoutFooter.vue";
import LayoutHero from "@/components/LayoutHero.vue";

export default {
  components: {
    LayoutFooter,
    LayoutHero,
  },
};
</script>

<style>
</style>
