<template>
  <div class="contact_me">
    <div class="grey-bg banner box-shadow">
      <h1 class="title has-text-centered has-text-white is-size-4-mobile">
        Leave a Message
      </h1>
    </div>

    <section class="section">
      <div class="container">
        <!-- <div class="section no-padding-top">
          <h1 class="has-text-white has-text-centered about-header">Get in touch with us!</h1>
        </div> -->
        <div class="columns is-gapless">
          <div
            class="column is-4 contact-infm newgreyish"
            style="border-radius: 0"
          >
            <div class="side-margin">
              <div class="section">
                <h1 class="has-text-white is-size-3">Contact information</h1>
              </div>
              <div class="section no-padding-top">
                <div class="columns is-multiline is-mobile">
                  <div class="column is-2">
                    <span
                      class="mdi mdi-cellphone-iphone has-text-white"
                      style="font-size: 150%"
                    />
                  </div>
                  <div class="column is-10 is-flex-centered has-text-white">
                    <p>+2349070364361</p>
                  </div>
                  <div class="column is-2">
                    <span
                      class="mdi mdi-email has-text-white"
                      style="font-size: 150%"
                    />
                  </div>
                  <div class="column is-10 is-flex-centered has-text-white">
                    <p>uniquefolashade@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="column is-4 contact-infm newgreyish"
            style="border-radius: 0"
          >
            <div class="contactForm">
              <b-field
                label="Name"
                :type="errors.has('name') ? 'is-danger' : ''"
                :message="errors.first('name')"
              >
                <!-- <b-input
                  v-model="form.name"
                  placeholder="Name"
                  name="name"
                  v-validate="'required'"
                /> -->

                <b-input
                  placeholder="Name"
                  name="name"
                  v-validate="'required'"
                />
              </b-field>

              <b-field
                label="Email"
                :type="errors.has('email') ? 'is-danger' : ''"
                :message="errors.first('email')"
              >
                <!-- <b-input
                  v-model="form.email"
                  placeholder="Email"
                  name="email"
                  v-validate="'required|email'"
                /> -->

                <b-input
                  placeholder="Email"
                  name="email"
                  v-validate="'required|email'"
                />
              </b-field>
              <b-field
                label="Phone number"
                :type="errors.has('phone_no') ? 'is-danger' : ''"
                :message="
                  errors.has('phone_no') ? errors.first('phone_no') : ''
                "
              >
                <!-- <b-input
                  placeholder="Phone Number"
                  v-model="form.phone_no"
                  v-validate="'required|numeric'"
                  name="phone_no"
                  type="text"
                ></b-input> -->

                <b-input
                  placeholder="Phone Number"
                  v-validate="'required|numeric'"
                  name="phone_no"
                  type="text"
                ></b-input>
              </b-field>

              <b-field
                label="Subject"
                :type="errors.has('subject') ? 'is-danger' : ''"
                :message="errors.first('subject')"
              >
                <!-- <b-input
                  v-model="form.subject"
                  placeholder="Subject"
                  name="subject"
                  v-validate="'required'"
                /> -->

                <b-input
                  placeholder="Subject"
                  name="subject"
                  v-validate="'required'"
                />
              </b-field>

              <b-field
                label="Message"
                :type="errors.has('message') ? 'is-danger' : ''"
                :message="errors.first('message')"
              >
                <!-- <b-input
                  v-model="form.message"
                  type="textarea"
                  placeholder="Message"
                  name="message"
                  v-validate="'required'"
                /> -->

                <b-input
                  type="textarea"
                  placeholder="Message"
                  name="message"
                  v-validate="'required'"
                />
              </b-field>

              <div style="width: 100%">
                <button
                  class="button is-link is-text-black"
                  @click="sendEnquiry"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style>
/* .container-fixed {
  display: flex;
  justify-content: center;
  font-family: Bad Script;
  font-weight: bold;
  font-size: 36px;
  color: white;
} */

/* .newgreyish {
  background-color: rgba(250, 250, 250, 0.5);
} */
/* .altdark {
  background-color: #0000007e;
} */

.section .container .columns.is-gapless {
  display: flex;
  justify-content: center;
}

.section {
  padding: 1rem 1.5rem;
}
.newgreyish {
  background: currentColor;
}

button.is-link {
  background-color: white !important;
  width: 100% !important;
  color: black !important;
}
</style>