<template>
  <div class="home">
    <section class="folabrand">
      <div>
        <div class="container about">
          <div class="columns is-set">
            <!-- <div
            class="column is-6 img"
            :style="{
              'background-image': `url(/img/fola2.JPG)`,
            }"
          > -->

            <!-- <div class="columns is-multiline "   v-for="( history, i) in nomineePage.background.history1" :key="i"> -->

            <div class="column is-6">
              <img src="/img/fola2.JPG" class="history_images" />
            </div>
            <div class="column is-6 is-set">
              <div>
                <h3>About folashade</h3>
                <span
                  >In the game changer space, industry is effectively
                  strategizing its end-to-end market foci. Our stack development
                  lifecycle enables corporate, next-generation core
                  competencies. Company-wide bandwidths conservatively enable
                  proactive paradigm shifts for our user experiences. Is your
                  best practice prepared for immersive stakeholder growth?</span
                >
              </div>
              <div>
                <h3 class="statement">Vision</h3>
                <p class="has-text-justified">
                  Not your regular graphic designer! Creating personalized
                  graphic designs that makes you rule you your world.
                </p>
              </div>
              <div>
                <h3 class="statement">Mission</h3>

                <p class="has-text-justified">
                  In the game changer space, industry is effectively
                  strategizing its end-to-end market foci. Our stack development
                  lifecycle enables corporate, next-generation core
                  competencies. Company-wide bandwidths conservatively enable
                  proactive paradigm shifts for our user experiences. Is your
                  best practice prepared for immersive stakeholder growth?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="gallery"
      :style="{
        'background-image': `linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(/img/bak4.jpg)`,
      }"
    >
      <div
        class="container"
        v-if="galleryImages.length > 0"
        style="padding: 2rem 0"
      >
        <!-- <div class="container"> -->
        <div class="titles is-uppercase is-size-3">GALLERY</div>
        <div class="columns is-gapless">
          <!-- <div class="column" v-for="event in galleryImages" :key="event.id">
            <a :href="event.link" target="_blank">
              <div :style="{'background-image': `url(${event.image.data})`}" class="event" />
            </a>
          </div>-->
          <div
            class="column"
            v-for="event in gallery.slice(0, 4)"
            :key="event.id"
          >
            <div
              :style="{ 'background-image': `url(${event.media_url})` }"
              class="event"
              v-show="
                event.media_type == 'CAROUSEL_ALBUM' ||
                event.media_type == 'IMAGE'
              "
            />
            <video
              v-show="event.media_type == 'VIDEO'"
              controls
              class="gallery-image"
            >
              <source :src="event.media_url" type="video/mp4" />
            </video>
          </div>
        </div>
        <div class="has-text-right view-more">
          <nuxt-link to="/gallery">
            <h1 class="titles">MORE</h1>
          </nuxt-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { copy } from "@/utils/helpers";

import axios from "axios";
import { mapState } from "vuex";

export default {
  layout: "home",

  computed: {
    ...mapState("gallery", ["gallery"]),

    galleryImages() {
      let x = this.gallery.slice();
      console.log(x);
      return x.splice(0, 4);
    },
  },

  async asyncData({ store, error }) {
    try {
      let home = await Promise.all([
        store.dispatch("gallery/getInstagramGallery"),
      ]);
      // console.log(home);
    } catch (err) {
      error(err);
    }
    let galleryPage = copy(store.state.gallery.gallery);

    return {
      galleryPage,
    };
  },
};
</script>

<style>
.folabrand {
  background: url("/img/pattern.png");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* position: relative; */
  /* max-height: 100%; */
  padding: 4rem;
}
.folabrand h1 {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 36px;
  text-transform: capitalize;
}

.gallery {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.titles {
  color: white;
}
img {
  object-fit: cover;
}
.history_images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .columns.is-set {
  max-height: 600px;
} */

h3 {
  display: flex;
  justify-content: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  /* font-size: 36px; */
  text-transform: capitalize;

  padding-bottom: 0.5rem;
}

.statement {
  padding-top: 2rem;
}
</style>